body {
    background-color: #f9fafa;
    user-select: none;
}

#codeur>div,
.circle {
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 100%;
    width: 0;
    height: 0;
}

#map {
    position: relative;
    margin: 10px auto;
    /* border: 110px solid #ecf0f1; */
    border: 152px solid #ecf0f1;
}

#position {
    position: absolute;
    /* left: 150px; */
    /* bottom: 150px; */
    bottom: 0;
    transform: translate(-50%, 50%);
    border: 20px solid #7f8c8d;
}

.active {
    border-color: #1abc9c !important;
}

#position.force {
    border-color: #e74c3c !important;
}

#codeur {
    border: 152px solid #ecf0f1;
    background-color: #ecf0f1;
    margin: 10px auto;
    padding: 0 8px 8px 0;
}

#codeur>div {
    border: 5px solid #7f8c8d;
    position: absolute;
}

#codeur>.active {
    border: 8px solid #1abc9c;
}

#codeur>.force {
    border: 8px solid #e74c3c !important;
}

.deg0 {
    transform: translate(8em);
}

.deg10 {
    transform: rotate(10deg) translate(8em);
}

.deg20 {
    transform: rotate(20deg) translate(8em);
}

.deg30 {
    transform: rotate(30deg) translate(8em);
}

.deg40 {
    transform: rotate(40deg) translate(8em);
}

.deg50 {
    transform: rotate(50deg) translate(8em);
}

.deg60 {
    transform: rotate(60deg) translate(8em);
}

.deg70 {
    transform: rotate(70deg) translate(8em);
}

.deg80 {
    transform: rotate(80deg) translate(8em);
}

.deg90 {
    transform: rotate(90deg) translate(8em);
}

.deg100 {
    transform: rotate(100deg) translate(8em);
}

.deg110 {
    transform: rotate(110deg) translate(8em);
}

.deg120 {
    transform: rotate(120deg) translate(8em);
}

.deg130 {
    transform: rotate(130deg) translate(8em);
}

.deg140 {
    transform: rotate(140deg) translate(8em);
}

.deg150 {
    transform: rotate(150deg) translate(8em);
}

.deg160 {
    transform: rotate(160deg) translate(8em);
}

.deg170 {
    transform: rotate(170deg) translate(8em);
}

.deg180 {
    transform: rotate(180deg) translate(8em);
}

.deg190 {
    transform: rotate(190deg) translate(8em);
}

.deg200 {
    transform: rotate(200deg) translate(8em);
}

.deg210 {
    transform: rotate(210deg) translate(8em);
}

.deg220 {
    transform: rotate(220deg) translate(8em);
}

.deg230 {
    transform: rotate(230deg) translate(8em);
}

.deg240 {
    transform: rotate(240deg) translate(8em);
}

.deg250 {
    transform: rotate(250deg) translate(8em);
}

.deg260 {
    transform: rotate(260deg) translate(8em);
}

.deg270 {
    transform: rotate(270deg) translate(8em);
}

.deg280 {
    transform: rotate(280deg) translate(8em);
}

.deg290 {
    transform: rotate(290deg) translate(8em);
}

.deg300 {
    transform: rotate(300deg) translate(8em);
}

.deg310 {
    transform: rotate(310deg) translate(8em);
}

.deg320 {
    transform: rotate(320deg) translate(8em);
}

.deg330 {
    transform: rotate(330deg) translate(8em);
}

.deg340 {
    transform: rotate(340deg) translate(8em);
}

.deg350 {
    transform: rotate(350deg) translate(8em);
}